
    <!-- Core -->
    <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/assets/vendor/headroom.js/dist/headroom.min.js"></script>

    <!-- Vendor JS -->
    <script src="/static/assets/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="/static/assets/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="/static/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/assets/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/static/assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="/static/assets/vendor/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="/static/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="/static/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/static/assets/vendor/prismjs/prism.js"></script>

    <!-- Neumorphism JS -->
    <script src="/static/assets/js/neumorphism.js"></script>
      